<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0" metadata-complete="true">
    <display-name>manager</display-name>
    <description>manager web</description>

    <!-- spring mvc servlet start -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:conf/manager-appCtx.xml
        </param-value>
    </context-param>

    <!-- listener start -->
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>

    <listener>
        <listener-class>so.wwb.lotterybox.manager.init.CtxLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.soul.web.init.RequestContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>so.wwb.lotterybox.manager.listener.HttpSessionUserListener</listener-class>
    </listener>

    <listener>
        <listener-class>so.wwb.lotterybox.web.session.SessionUserListener</listener-class>
    </listener>
    <!-- listener end -->

    <!--health check pending -->
    <filter>
        <filter-name>healthCheckFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>healthCheckFilter</filter-name>
        <url-pattern>/health/check.html</url-pattern>
    </filter-mapping>
    <!--health check pending -->
    <filter>
        <filter-name>dubboClientFilter</filter-name>
        <filter-class>org.soul.web.filter.DubboClientFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>dubboClientFilter</filter-name>
        <url-pattern>/destroy/serviceStop</url-pattern>
    </filter-mapping>
    <!-- file suffix filter start-->
    <filter>
        <filter-name>fileSuffixFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>fileSuffixFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <!-- file suffix filter end -->

    <!-- character encoding filter start -->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <!-- character encoding filter end -->

    <!--domain filter start -->
    <filter>
        <filter-name>appLineFilter</filter-name>
        <filter-class>so.wwb.lotterybox.manager.filter.AppLineFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>appLineFilter</filter-name>
        <url-pattern>/app/line.html</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SaveSiteServerIpFilter</filter-name>
        <filter-class>so.wwb.lotterybox.manager.filter.SaveSiteServerIpFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SaveSiteServerIpFilter</filter-name>
        <url-pattern>/tool/save-site-server-ip.html</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>GetDomainFilter</filter-name>
        <filter-class>so.wwb.lotterybox.manager.filter.GetDomainFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>GetDomainFilter</filter-name>
        <url-pattern>/tool/get-domains.html</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>GetSitesFilter</filter-name>
        <filter-class>so.wwb.lotterybox.manager.filter.GetSitesFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>GetSitesFilter</filter-name>
        <url-pattern>/tool/get-sites.html</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CheckDomainIpFilter</filter-name>
        <filter-class>so.wwb.lotterybox.manager.filter.CheckDomainIpFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CheckDomainIpFilter</filter-name>
        <url-pattern>/tool/check-DomainIp.html</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>domainFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>domainFilter</filter-name>
        <url-pattern>/message_en_US.js</url-pattern>
        <url-pattern>/message_zh_CN.js</url-pattern>
        <url-pattern>/message_zh_TW.js</url-pattern>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <!--domain filter end -->

    <!--illegal character filer start-->
    <filter>
        <filter-name>illegalCharacterFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>illegalCharacterFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <!--illegal character filer end-->

    <!--illegal word filter start -->
    <filter>
        <filter-name>illegalWordFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>illegalWordFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <!--illegal word filter end -->

    <!--shiro filter-->
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>*.html</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <!--Shiro认证后扩展上下文-->
    <filter>
        <filter-name>shiroAfterFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>shiroAfterFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>accessFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>accessFilter</filter-name>
        <url-pattern>*.html</url-pattern>
        <url-pattern>/message_en_US.js</url-pattern>
        <url-pattern>/message_zh_CN.js</url-pattern>
        <url-pattern>/message_zh_TW.js</url-pattern>
    </filter-mapping>

    <!--多语言资源过滤-->
    <filter>
        <filter-name>messageFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>messageFilter</filter-name>
        <url-pattern>/message_en_US.js</url-pattern>
        <url-pattern>/message_zh_CN.js</url-pattern>
        <url-pattern>/message_zh_TW.js</url-pattern>
    </filter-mapping>

    <!--user online time start-->
    <filter>
        <filter-name>localeFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>localeFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <!--user online time end -->

    <!--安全密码-->
    <filter>
        <filter-name>PrivilegeFilter</filter-name>
        <filter-class>so.wwb.lotterybox.web.filter.PrivilegeFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>PrivilegeFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>dispatchServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <!-- cross domain access -->
            <param-name>dispatchOptionsRequest</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:conf/mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatchServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <!-- spring mvc servlet end -->
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <error-page>
        <error-code>403</error-code>
        <location>/errors/403.html</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/errors/404.html</location>
    </error-page>

    <error-page>
        <location>/errors/index.html</location>
    </error-page>

</web-app>
